/*Color Scheme 01: #436a3d (Dark Green), #698365 (Light Green),  #836569 (Rose Brown?), #f5f5f5 (WhiteSmoke)*/
/*Color Scheme 02: #436a3d dark green #32502e dark green a shade or so darker #3d6a64 analagous blue to dark green #2e504b shade darker of analagous blue #698365 light green #4A5C47 shade darker of light green #6A3FEB purple #9BC295 super light green, white smoke*/
/*alternative bg colors for darkmode #1c1c1c */

body {
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    margin: 0;
    background-color: #1c1c1c; /*from scratch dark mode for now*/
}

header {
    padding: 0;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}


header .row,
footer .row { /*Flex made this possible - learn more later*/
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 400;
    color: #4A5C47;
    margin: 0;
    text-align: center;
}


header nav {
    display: flex;
    justify-content: flex-end;
    color: #698365;
    text-align: center;
}

header nav a {
    color: #698365;
    
}

header nav a:hover {
    color: #4A5C47;
    text-decoration: none;
}

header p {
    margin: 1rem; /*spacing between nav a links - padding is for text inside element margin for seperating different divs or larger pieces*/
}

/*END HEADER*/

/*return to top button styling*/
#topButton {
    display: none;  
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(105,131,101, .5); /*RGB ONLY 4th value i transparency 0 is full transparent 1 is opaque*/
    color: rgba(245, 245, 245, .5); /*whitesmoke as rgb*/
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /*this will start to round the button starting at 2 4 8 12 it gets softer and at 50% we have an oval*/

  }
  
#topButton:hover {
    background-color: rgba(105,131,101, .7);
    text-shadow: #FC0 1px 0 10px; /*x offset y offset blur color*/
    box-shadow: #FC0 0 0 10px;
  }

/*Welcome Message*/
#welcome-message {
    display: flex;
    background-image:
    radial-gradient(transparent, rgb(0, 0, 0) 100%),  /*this is a vignette maker excellent for dark mode application*/
    url(images/galleryArt/Elephant_And_Bird.png); 
    background-size: cover;
    color: whitesmoke;
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem #000000;
    text-align: center;
}

/*maybe draw this and link him as photo ref source instead that could be cool https://images.unsplash.com/photo-1466354424719-343280fe118b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 */

#welcome-message h2 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    /* "Position+Transform" worked as a fix before I switched the html h2 tag to col-sm-12 so that text-center would work
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/*END WELCOME MSG*/



/*SKILLS*/
#skills {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#skills h2 {
    font-size: 4rem;
    font-weight: 200;
    color: #4A5C47;
    text-align: center;
    /*text-shadow: 0.2rem 0.2rem 0.2rem #000;*/
}

#skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, .25);
    border-radius: 8px;
    margin: 2rem;
    padding: .5rem;
}

#skill-icons img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
    border-radius: 20%;
}

#skill-icons img:hover {
    filter: drop-shadow(0 0 1rem rgba(245, 245, 245, .5));
}

/*END SKILLS*/



/*GALLERY 2.0 Start*/

#gallery-id { /*defines the Parent container of Gallery*/
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#gallery-id h2 {
    color: #4A5C47;
    text-align: center;
    font-size: 4rem;
}

#galleryButton { /*BUTTON STYLING - actual code in JS showHideFunction*/
    color: whitesmoke;
    background-image: url(images/galleryArt/fanArtMilesMorales.png); /*pretty windows 95 i can probably wrap the button on an img tag in html for better results*/
    background-size: cover;
    border: none;
    margin-top: 1.5rem;
}

#dropDownGallery {
    margin-top: 1.5rem;
}

.media-scroller { /*thank you Kevin Powell */
    display:grid;
    grid-auto-flow: column; /*columns (not rows) get it horizontal*/
    grid-auto-columns: 28%; /*dont put at easily divisible into 100 eg 25% or 50% put it slightly off eg 21% or 36% to show that there is more content just beyong to scroll towards*/
    
    gap: 10px;

    overflow-x: auto; /*this gives you a horizontal scrolling bar in the media scroller section instead of having to scroll the entire webpage horizontally which would no longer be the ribbon i want */
    overscroll-behavior-inline: contain; /*when user reaches the end of the scroll, they wont keep scrolling in the parent container, its like a limiting break factor*/
    /*background-color: rgba(0,0,0,.5); */ /*transparent background using alpha because this ONLY affects background vs the whole box... current rendering looks way better anyway imo*/
    /*opacity: rgba(0,0,0,.5); *//*transparency using alpha on ENTIRE box doesnt render the same - evaluate this puzzle later*/
} 

.media-element { /*containers in each column these will house the images or video thumbnails*/
    padding: 10px;
    background-color: rgba(0, 0, 0, .3); 

}
  
.media-element > img { /*VERY IMPORTANT this alters the size or aspect ratio, it auto crops the image to fit, this looks like cool media, but doesnt play well with my sqaure or portait illustrations so its currently overwridden by figure class gallery item css*/
    inline-size: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }



#media-element-caption { /*aka captions for gallery photos REMOVED .title NOOOO THIS ISNT INCLUSIVE its awful for accessibility and mobile nooooooo need to change*/
    color: #698365;
    text-align: center;
    
}

/*class selector for img tag inside figure keeps it from being permanently overstretched
.thumbnail {
    height: 18rem;
    width: 18rem;
    object-fit: cover;
 }
  */


/* OLD GALLERY ITEMS TO BE DELETED ???*/

/*flex-wrap: wrap brings all the images inside the border of every gallery-item
.gallery {
    margin-top: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
*/

/*gallery item class selector for figure tag - the frames 
.gallery-item {
    border: .4rem solid #000; this was commented out too
    margin: 1.25rem;
    
}

*/




/*END Gallery*/




/*CONTACT*/
#contact {
    background-image:
    radial-gradient(transparent, rgb(0, 0, 0) 120%), 
    url(https://images.unsplash.com/photo-1625980953551-50502b3b8b2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80);
    background-size: cover;
    color: whitesmoke;
    text-shadow: 0.1rem 0.1rem 0.1rem #000000;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    
}

/*credit to https://unsplash.com/@sorasagano stock photos*/

#contact h2 {
    font-size: 4rem;
    font-weight: 200;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    text-align: top;
    color: whitesmoke;
}



/*FOOTER*/
footer {
    color: #698365;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer .col-12 {
    display: flex;
    justify-content: center;
}


#externalPortfolioLinks {
    display: flex;
    justify-content:center;
}

footer a:link {
    color: #4A5C47;
    background-color: transparent;
    text-decoration: #4A5C47;
 }
  
footer  a:visited {
    color: #4A5C47;
    background-color: transparent;
    text-decoration:  #4A5C47;
  }
  
footer  a:hover {
    color: #6A3FEB;
    background-color: transparent;
    text-decoration: wavy underline #6A3FEB
  }
  
footer  a:active {
    color: #6A3FEB;
    background-color: transparent;
    text-decoration: wavy underline #6A3FEB;
  }

/*removes bullet points*/
footer ul {
    list-style: none;
} 

footer li {
    margin-left: 2rem;
}


footer li img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

footer img:hover {
    box-shadow: 0px 0px 5px 2px #6A3FEB; /*adds a highlight shadow behind the item for UI horizontal offset follows border INPUTS are vertical offset, blur distance, actual?*/
}


/*IDs for easily altering text size*/

#smaller-text {
    font-size: smaller;
}

#x-small-text {
    font-size: x-small;
}

#xx-small-text{
    font-size: xx-small;
}

.center {
    text-align: center;
}